Ansible/Provisioner/resources/ovftool.bundle
Packer/Ubuntu1804/download_iso/**
Packer/Windows_10/download_iso/**
Packer/Windows_2016/download_iso/**
Terraform/Provisioner/terraform.tfstate
Terraform/Provisioner/terraform.tfstate.backup
Terraform/Provisioner/.terraform/**
Packer/Ubuntu1804/variables.json
Packer/Ubuntu1804/export_ovf/**
Packer/Windows_10/variables.json
Packer/Windows_10/export_ovf/**
Packer/Windows_2016/variables.json
Packer/Windows_2016/export_ovf/**
Packer/Centos78/download_iso/**
Packer/Centos78/variables.json
Packer/Centos78/export_ovf/**
Packer/Centos78/packer_cache/**
Packer/Ubuntu1804/packer_cache/**
Packer/Windows_10/packer_cache/**
Packer/Windows_2016/packer_cache/**
Terraform/Phantom/.terraform/**
Terraform/Phantom/terraform.tfstate
Terraform/Phantom/terraform.tfstate.backup
Terraform/Win10_Project1/.terraform/**
Terraform/Win10_Project1/terraform.tfstate
Terraform/Win10_Project1/terraform.tfstate.backup